[Desktop Entry]
Version=1.0
Type=Application
Name=Badger
Comment=
Exec=/home/makespace/badger.sh
Icon=/home/makespace/makespace-badger-ng/icons8-badger-64.png
Path=
Terminal=false
StartupNotify=false
