[Desktop Entry]
Version=1.0
Type=Link
Name=Mushroom
Comment=
URL=file:///home/makespace/makespace-badger-ng/icons8-mushroom-64.png
Icon=/home/makespace/makespace-badger-ng/icons8-mushroom-64.png
Path=
Terminal=false
StartupNotify=false
